.uuu{
color:black;
}
.uu{
color:black;
}

.apo{


    overflow-x: hidden;
  
  border: 1px solid black;
  border-radius:30px;
  color: white;
  padding: 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  color: black!important;
  background-color:white;

}





html, body {
    max-width: 100%;
    overflow-x: hidden;
}

@media screen and (max-width: 480px) {

    .searchbar{
        width: 180px!important ;
        height: 50px!important ;
        font-size:  0.8rem!important;
    }
    .starty{
        height: 50px!important  ;
    }
    .img1{
        width: 350px!important  ;
        height: 300px!important;
    }
    .img2{
        width: 350px!important;
        height: 200px!important ;
    }
    .img3{
        width: 350px!important;
        height: 450px!important ;
    }
    .img4{
        width: 350px!important;
        height: 250px!important ;
    }
    .img5{
        width: 350px!important;
        height: 350px!important ;
    }
    .img6{
        width: 350px!important;
        height: 350px!important ;

    }
    .apo{
    width: 350px!important;
    height: 350px!important;
    }
    .lol{
    width: 350px!important;
    height: 350px!important;
    }
    .aka{
    width: 350px!important;
    height: 350px!important;

    }
    .fty{
    margin-top:60%;
    margin-left:500%;

    }
    }
}

@media screen and (min-width: 481px) and (max-width:  768px) {

    .searchbar{
        width: 180px!important ;
        height: 50px!important ;
        font-size:  0.8rem!important;
    }
    .starty{
        height: 50px!important  ;
    }
    .img1{
        width: 350px!important  ;
        height: 300px!important;
    }
    .img2{
        width: 350px!important;
        height: 200px!important ;
    }
    .img3{
        width: 350px!important;
        height: 450px!important ;
    }
    .img4{
        width: 350px!important;
        height: 250px!important ;
    }
    .img5{
        width: 350px!important;
        height: 350px!important ;
    }
    .img6{
        width: 350px!important;
        height: 350px!important ;
    }
    .toto{
         width: 350px!important;
        height: 350px!important ;

    }

    
    }
    }
}
.p{
font-family: a;
}

.aka{
 border: 1px solid black;
  border-radius:15px;
  color: white;
  padding: 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  color: black!important;
  background-image:linear-gradient(271.32deg,#86BEDC -.41%,rgba(134,190,220,0) 25.66%),linear-gradient(113.54deg,rgba(188,223,123,.6) 29.38%,rgba(121,223,255,.6) 85.33%),linear-gradient(111.34deg,#03FFCA 0%,#8DF79D 100%);

width:600px;  
text-align: center;
}
.aka2{
padding-top:5%;
 border: 1px solid black;
  border-radius:10px;
  color: white;
  padding: 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  color:white!important;
  background-color:black;
  width:350px;
}
r{
    border: 1px black solid;
    
}
.button {
  border: 1px solid black;
  border-radius:30px;
  color: white;
  padding: 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  color: black!important;
  background-color:white!important;
  width:250px;
}
.button2 {
  border: 1px solid black;
  border-radius:30px;
  color: white;
  padding: 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  color: white!important;
  background-color:black;
  width:250px;
}
.button3 {
  border: 1px solid black;
  border-radius:30px;
  color: white;
  padding: 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  color: white!important;
  background-color:black;
  width:200px;
}
.search{
 border: 1px solid black;
  border-radius:30px;
  color: white;
  padding: 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  color: black!important;
  background-color:white;
  width:350px;
}
.search2{
 border: 1px solid black;
  border-radius:30px;
  color: white;
  padding: 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  color: black!important;
  background-color:white;
  width:250px;
}
.button4{
 border: 1px solid black;
  border-radius:30px;
  color: white;
  padding: 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: poitner;
  color: black!important;
  background-color:white;
  width:150px;
  color:white!important;
}

.button5 {
  border: 1px solid black;
  border-radius:30px;
  color: white;
  padding: 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  color: white!important;
  background-color:black;
  width:500px;
}
.apo2{
  border: 1px solid black ;
  color: white;
  padding: 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  color: black!important;
  background-color:white;
  width:500px;
  height:500px;}


  .apo3{
  border-top:1px solid black;
  border-bottom:1px solid black;
  border-right:1px solid black;
  border-left:2px solid #86BEDC;
  color: white;
  padding: 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  color: black!important;

  width:500px;
  height:500px;
 
}

.Head{
    font-size: 3rem;
}

.box{
    border: 1px black solid;
}
.Head2{
    font-size: 5rem;
}
.dddi{
border-left:1px solid black;
border-bottom:1px solid black;
border-right:1px solid black ;
border-top:1px solid black;

}
;

}
.button6{
border: 1px solid black;
  border-radius:30px;
  color: white;
  padding: 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  color: black!important;
  background-color:white;
  width:500px;

}
.whyg{
border:;
}

.wywy{
background-image:linear-gradient(271.32deg,#86BEDC -.41%,rgba(134,190,220,0) 25.66%),linear-gradient(113.54deg,rgba(188,223,123,.6) 29.38%,rgba(121,223,255,.6) 85.33%),linear-gradient(111.34deg,#03FFCA 0%,#8DF79D 100%);
 ;
border-left:1px solid black;
border-bottom:1px solid black;
border-right:1px solid black ;
border-top:1px solid black;
border-top-left-radius:0.5rem;
border-top-right-radius:0.5rem;
}
.win{
background-color:black;
color:white;
}
.lose{
background-image:linear-gradient(271.32deg,#86BEDC -.41%,rgba(134,190,220,0) 25.66%),linear-gradient(113.54deg,rgba(188,223,123,.6) 29.38%,rgba(121,223,255,.6) 85.33%),linear-gradient(111.34deg,#03FFCA 0%,#8DF79D 100%);    

}
.search4{
 border: 1px solid black;
  border-radius:30px;
  color: white;
  padding: 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  color: black!important;
  background-color:white;
  width:500px;
}
.button0{
border: 1px solid black;
  border-radius:30px;
  color: white;
  padding: 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  color: white!important;
  background-color:black;
  width:200px;
}
.v{
font-size:15px;
}
.uu{
background-color:black;
}
.t{
color:white;
}
.oop{
text-align: center;

}
.inm{
font-size:25px;
width: 500px;
border-radius:10px;
height:50px;
}

.lol{
 overflow-x: hidden;
  border: 1px solid black;
  border-radius:30px;
  color: white;
  padding: 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  color: white!important;
  background-color:black;
}
.hpoo{
color:black!important;
background-color:black!important;
}
.yiy{
}